img.sideicon {
  float: right;
  width: 20%;
}

img.posterarray {
  display: inline;
  max-height: 6em;
  vertical-align: middle;
}


dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}
