---
layout: default
---

<div class="page">

  {% if page.poster %}
    <a href="{{ page.site }}">
      <img class="sideicon" src="{{site.baseurl}}/public/thumbnails/{{page.poster}}" alt="icon">
    </a>
  {% endif %}

  <h1 class="page-title">FPSAC'{% if page.year >= 2000 and page.year < 2010 %}0{{page.year | modulo:10}}{% else %}{{page.year | modulo:100}}{% endif %}: {{ page.town }}</h1>

  <center>
    <strong>
      <big>
        The {{ page.number }} international conference on<br>
        Formal Power Series and Algebraic Combinatorics<br>
      </big>
      {%if page.institution %}{{ page.institution }}, {% endif %}
      {{ page.town }} ({{page.country}})<br>
      {{ page.dates }} {{page.year}}<br><br>
    </strong>
  </center>

  {% comment %} Previous / Next FPSAC {% endcomment %}
  {% for conf in site.confs %}
    {% assign diff = conf.year | minus: page.year %}
    {% if diff == -1 or diff == 1 %}
      {%if diff == -1 %}
        Previous:
      {% else %}
        Next:
      {% endif %}
      <a href="{{ conf.url }}">FPSAC'{{ conf.year }}: {{conf.town}}</a>
    {% endif %}
  {% endfor %}

  {%if page.site %}
  <h2>Website: {%if page.site %}
        <a href="{{ page.site }}">hosted at {{page.town}}</a> 
         {% comment %} and {% endcomment %}
      {% endif %}
      {% comment %} <a href="http://fpsac.org/FPSAC{{ page.year }}/fpsac{{ page.year }}.html">local copy</a> {% endcomment %}
  </h2>
  {% else %}
        <br>
  {% endif %}

  {% if page.proceedings %}
    <h2>Proceedings: 
      {% if page.proceedings.url %}<a href="{{ page.proceedings.url }}">{% endif %}
      {{ page.proceedings.title }}
      {% if page.proceedings.url %}</a>{% endif %}
    </h2>
  {% endif %}

  <h2>Chairs of the program committee</h2>

  {% include chair_list.html persons=page.program_committee %}


  {%assign nbcochairs = page.organizing_committee | where:"role","cochair" | size %}
  <h2>Chair{%if nbcochairs >= 1 %}s{% endif %} of the organizing committee</h2>

  {% include chair_list.html persons=page.organizing_committee %}

  <h2>Invited speakers</h2>

  {% include person_list.html persons=page.invited_speakers %}

  {%if page.best_student_paper %}
    <h2>Best student paper</h2>
    {% include person_list.html persons=page.best_student_paper %}
  {% endif %}

  {%if page.best_paper %}
    <h2>Best paper</h2>
    {% include person_list.html persons=page.best_paper %}
  {% endif %}

  <h2>Program Committee</h2>

  {% include person_list.html persons=page.program_committee %}

  <h2>Organizing Committee</h2>

  {% include person_list.html persons=page.organizing_committee %}

  {{ content }}
</div>
